<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>TITLE</title>
  {% load static %}
<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<style>
.back{
 background-image:url({% static 'images/img.jpg' %});
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: 100% 100%;
}
.white{
color:white;
}
.space{
margin:10px 30px;
padding:10px 10px;
background: palegreen;
width:500px
}
.gap{
padding:10px 20px;
}
</style>
  
</head>

<body class="back">
 <div>
  <div class="jumbotron">
  <h1 style="text-align:center">PREDICTION OF PHISHING NETWORK</h1>
  
  </div>
     <!-- Main Input For Receiving Query to our ML -->
    <form class="form-group" action="/"method="post">
      {% csrf_token %}
        
    <div class="row">
    <div class="gap col-md-6 ">

    <label class="white"  for="">Index</label>
    <input type="number" class="space form-control" step="0.01" name="Index" placeholder="Index" required="required" /><br>
    
    

    <label class="white" for="">LongURL</label>
    <input type="number" class="space form-control" step="0.01" name="LongURL" placeholder="LongURL" required="required" /><br>

    <label class="white" for="">Symbol@</label>
    <input type="number" class="space form-control" step="0.01" name="Symbol@" placeholder="Symbol@" required="required" /><br>

    <label class="white"  for="">PrefixSuffix-</label>
    <input type="number" class="space form-control" step="0.01" name="PrefixSuffix-" placeholder="PrefixSuffix-" required="required" /><br>

    <label class="white"  for="">HTTPS</label>
    <input type="number" class="space form-control" step="0.01" name="HTTPS" placeholder="HTTPS" required="required" /><br>
  </div>
    



<div class="gap col-md-6">
    
    <label class="white"  for="">UsingIP</label>
    <input type="number" class="space form-control" step="0.01" name="UsingIP" placeholder="UsingIP" required="required" /><br>

    <label class="white"  for="">ShortURL</label>
    <input type="number" class="space form-control" step="0.01" name="ShortURL" placeholder="ShortURL" required="required" /><br>
    
    <label class="white"  for="">Redirecting//</label>
    <input type="number" class="space form-control" step="0.01" name="Redirecting//" placeholder="Redirecting//" required="required" /><br>

    <label class="white"  for="">SubDomains</label>
    <input type="number" class="space form-control" step="0.01" name="SubDomains" placeholder="SubDomains" required="required" /><br>

    <label class="white"  for="">DomainRegLen</label>
    <input type="number" class="space form-control" step="0.01" name="DomainRegLen" placeholder="DomainRegLen" required="required" /><br>

</div>
</div>


<div class="row">
  <div class="gap col-md-6 ">

  <label class="white"  for="">Favicon</label>
  <input type="number" class="space form-control" step="0.01" name="Favicon" placeholder="Favicon" required="required" /><br>
  
  

  <label class="white" for="">HTTPSDomainURL</label>
  <input type="number" class="space form-control" step="0.01" name="HTTPSDomainURL" placeholder="HTTPSDomainURL" required="required" /><br>

  <label class="white" for="">AnchorURL</label>
  <input type="number" class="space form-control" step="0.01" name="AnchorURL" placeholder="AnchorURL" required="required" /><br>

  <label class="white"  for="">ServerFormHandler</label>
  <input type="number" class="space form-control" step="0.01" name="ServerFormHandler" placeholder="ServerFormHandler" required="required" /><br>

  <label class="white"  for="">AbnormalURL</label>
  <input type="number" class="space form-control" step="0.01" name="AbnormalURL" placeholder="AbnormalURL" required="required" /><br>
</div>
  



<div class="gap col-md-6">
  
  <label class="white"  for="">NonStdPort</label>
  <input type="number" class="space form-control" step="0.01" name="NonStdPort" placeholder="NonStdPort" required="required" /><br>

  <label class="white"  for="">RequestURL</label>
  <input type="number" class="space form-control" step="0.01" name="RequestURL" placeholder="RequestURL" required="required" /><br>
  
  <label class="white"  for="">LinksInScriptTags</label>
  <input type="number" class="space form-control" step="0.01" name="LinksInScriptTags" placeholder="LinksInScriptTags" required="required" /><br>

  <label class="white"  for="">InfoEmail</label>
  <input type="number" class="space form-control" step="0.01" name="InfoEmail" placeholder="InfoEmail" required="required" /><br>

  <label class="white"  for="">WebsiteForwarding</label>
  <input type="number" class="space form-control" step="0.01" name="WebsiteForwarding" placeholder="WebsiteForwarding" required="required" /><br>

</div>
</div>


<div class="row">
  <div class="gap col-md-6 ">

  <label class="white"  for="">StatusBarCust</label>
  <input type="number" class="space form-control" step="0.01" name="StatusBarCust" placeholder="StatusBarCust" required="required" /><br>
  
  

  <label class="white" for="">UsingPopupWindow</label>
  <input type="number" class="space form-control" step="0.01" name="UsingPopupWindow" placeholder="UsingPopupWindow" required="required" /><br>

  <label class="white" for="">AgeofDomain</label>
  <input type="number" class="space form-control" step="0.01" name="AgeofDomain" placeholder="AgeofDomain" required="required" /><br>

  <label class="white"  for="">WebsiteTraffic</label>
  <input type="number" class="space form-control" step="0.01" name="WebsiteTraffic" placeholder="WebsiteTraffic" required="required" /><br>

  <label class="white"  for="">GoogleIndex</label>
  <input type="number" class="space form-control" step="0.01" name="GoogleIndex" placeholder="GoogleIndex" required="required" /><br>

  <label class="white"  for="">StatsReport</label>
  <input type="number" class="space form-control" step="0.01" name="StatsReport" placeholder="StatsReport" required="required" /><br>

</div>
  



<div class="gap col-md-6">
  
  <label class="white"  for="">DisableRightClick</label>
  <input type="number" class="space form-control" step="0.01" name="DisableRightClick" placeholder="DisableRightClick" required="required" /><br>

  <label class="white"  for="">IframeRedirection</label>
  <input type="number" class="space form-control" step="0.01" name="IframeRedirection" placeholder="IframeRedirection" required="required" /><br>
  
  <label class="white"  for="">DNSRecording</label>
  <input type="number" class="space form-control" step="0.01" name="DNSRecording" placeholder="DNSRecording" required="required" /><br>

  <label class="white"  for="">PageRank</label>
  <input type="number" class="space form-control" step="0.01" name="PageRank" placeholder="PageRank" required="required" /><br>

  <label class="white"  for="">LinksPointingToPage</label>
  <input type="number" class="space form-control" step="0.01" name="LinksPointingToPage" placeholder="LinksPointingToPage" required="required" /><br>

</div>
</div>

<div style="padding:2% 35%">
  <button type="submit" class="btn btn-success btn-block" style="width:350px;padding:20px">Predict</button>   
</div>
      
    </form>

   <br>
   <br>
<div  style="background:skyblue;padding:2% 40%">
   {{ prediction_text }}
</div>
 </div>

 <h1 class="white">Accuarcy : {{data}}</h1>

</body>
</html>